.App {
  /* background: var(--main-lg-bl); */
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
input,
textarea {
  outline: 0;
  resize: none;
}
textarea:hover {
  min-height: 60px;
}
* {
  list-style: none;
  font-family: Montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  user-select: none;
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
a {
  color: black;
  text-decoration: none;
}

@import url("./var.css");
@import url("./ui.css");
@import url("./label.css");
@import url("./editor.css");
@import url("./fontfamily.css");
@import url("./img.css");
@import url("./loader.css");
@import url("./preview.css");
@import url("./templates.css");
@import url("./error.css");
@import url("./messages.css");



