.error_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    flex-direction: column;
}
.img_error {
    display: block;
    height: 110px;
    opacity: 0.3;
}
.error_text {
    font-size: 20px;
    font-weight: 600;
    color: #0000006b;
}