.label_container {
  width: calc(100% - 225px);
  display: flex;
  justify-content: space-between;
}
.label_line {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f6e3bd;
  padding: 0 8px;
  align-items: center;
  overflow: hidden;
}
.label {
  background: #fff;
  overflow: hidden;
  position: relative;
  border: 1px solid #c3bfbf;
}
.bardcode_container-text {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  /* width: 130px; */
  height: 25px;
  text-wrap: nowrap;
  top: 0;
  left: 0;
  border: 1px solid;
  resize: inherit;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-weight: 700;
  font-family: monospace;
}
.bardcode_container-text-preview {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  /* width: 130px; */
  height: 25px;
  text-wrap: nowrap;
  top: 0;
  left: 0;
  /* border: 1px solid; */
  resize: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bardcode_container-block {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  width: 130px;
  height: 25px;
  text-wrap: nowrap;
  top: 0;
  left: 0;
  border: 1px solid;
  resize: inherit;
  font-weight: 700;
  font-family: monospace;
  /* display: inline-block; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-wrap: wrap;
  overflow-wrap: anywhere;
  overflow: hidden;
}
/* .bardcode_container-block::before {
  content: '';
  width: 10px;
  height: 10px;
  background: var(--mast-yellow);
  border-radius: 50%;
  position: absolute;
  right: -3px;
  bottom: -3px;
} */
.bardcode_container-barcode {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  width: 130px;
  height: 25px;
  text-wrap: nowrap;
  top: 0;
  left: 0;
  resize: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
}
.bardcode_container-barcode-preview {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  width: 130px;
  height: 25px;
  text-wrap: nowrap;
  top: 0;
  left: 0;
  resize: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
}
.barlabel_title {
  font-size: 15px;
  display: block;
  margin-bottom: 15px;
  border-bottom: 1px solid #0000001f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
}

.bar_label {
  border: var(--grey_border);
  padding: 5px 4px;
  color: #8f8c8ce0;
  font-size: 13px;
  position: relative;
}
.out_contaiber {
  position: fixed;
  /* background: rgba(0, 0, 0, 0.144); */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.label_reference {
  position: relative;
  font-family: monospace;
}
.cls_mm {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(114 114 114 / 75%) 1px, transparent 1px),
    linear-gradient(90deg, rgb(114 114 114 / 75%) 1px, transparent 1px),
    linear-gradient(rgb(114 114 114) 1px, transparent 1px),
    linear-gradient(90deg, rgb(114 114 114) 1px, white 1px);
  background-size: var(--mm) var(--mm), var(--mm) var(--mm), var(--cm) var(--cm),
    var(--cm) var(--cm);
  background-position: 0px 0px, 0px 0px, -1px -1px, -1px -1px;
  animation: mm_anim 1s forwards ease-in-out;
}
.barcode_body {
  position: absolute;
  bottom: -10px;
  font-size: 9px;
  width: 100%;
}

@keyframes mm_anim {
  100% {
    opacity: 1;
  }
}
