.font-family-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 220px;
	align-items: stretch;
	justify-content: flex-start;
	animation: open_properties 1.4s ease forwards;
	border-radius: 0 16px 16px 0;
}

@keyframes open_properties {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.font-family-list {
	width: 220px;
	padding: 8px;
	overflow: auto;
}
.font-family-item {
	cursor: pointer;
	font-size: 14px;
	border: 1px solid currentColor;
	border-radius: 4px;
	padding: 8px;
	&:not(:first-child) {
		margin-top: 16px;
	}
}
.font-family-item--active {
	color: #00f;
}
.font-family-item:hover {
	color: #00f;
}
.font-family-item__font {
	display: flex;
	justify-content: center;
	border-radius: 4px;
	flex-direction: column;
	gap: 8px;
	align-items: stretch;
}
.font-family-item__font-name {
	text-align: start;
}
